:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* height: 100vh; */
    /* align-items: center; */
    justify-content: center;
    background-color: violet;
}

.card {
    scale: 0.6;
    max-width: 500px;
    text-align: center;
}

.card-image img {
    width: 100%;
}

.profile-btn {
    border: 3px solid pink;
    padding: 0.5em 1em;
    margin-block: .5em;
}

.info {
    background-color: bisque;
}

.user-info {
    padding-top: .6em;
}

.user-info-btn {
    display: flex;
    justify-content: space-around;
}

.section {
    margin: 1em auto;
    max-width: 90%;
    text-align: left;
}

footer {
    background-color: beige;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
